appdirs==1.4.3
apturl==0.5.2
asn1crypto==0.22.0
atom==0.4.1
backcall==0.1.0
beautifulsoup4==4.6.0
bleach==2.1.3
blinker==1.3
Brlapi==0.6.5
bs4==0.0.1
buildozer==0.35
caffeine==2.8.3
certifi==2017.4.17
chardet==3.0.4
click==6.7
colorama==0.3.9
command-not-found==0.3
cryptography==1.9
cupshelpers==1.0
Cython==0.29
decorator==4.2.1
defer==1.0.6
dice==2.3.2
distro-info==0.17
docopt==0.6.2
docutils==0.14
entrypoints==0.2.3
exmod==1.0
ez-setup==0.9
Flask==0.12.2
future==0.16.0
gdata==2.0.18
html5lib==1.0.1
httplib2==0.9.2
idna==2.5
ipykernel==4.8.2
ipython==6.3.1
ipython-genutils==0.2.0
ipywidgets==7.2.0
itsdangerous==0.24
jedi==0.11.1
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
keyring==10.4.0
keyrings.alt==2.2
Kivy==1.10.0
language-selector==0.1
launchpadlib==1.10.5
lazr.restfulclient==0.13.5
lazr.uri==1.0.3
louis==3.0.0
Mako==1.0.7
MarkupSafe==1.0
menulibre==2.1.3
mistune==0.8.3
nbconvert==5.3.1
nbformat==4.4.0
nexmo==2.2.0
notebook==5.4.1
notify2==0.3
numpy==1.14.2
oauth==1.0.1
olefile==0.44
pandas==0.22.0
pandocfilters==1.4.2
parso==0.1.1
pbr==4.0.3
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.1.1
prompt-toolkit==1.0.15
psutil==5.0.1
ptyprocess==0.5.2
py==1.4.34
pycrypto==2.6.1
pycups==1.9.73
pygame==1.9.3
Pygments==2.2.0
pygobject==3.24.1
pyinotify==0.9.6
PyJWT==1.6.4
pyOpenSSL==16.2.0
pyparsing==2.2.0
PyScaffold==3.0.3
pyte==0.8.0
pytest==3.1.3
python-apt==1.4.0b3
python-dateutil==2.7.2
python-debian==0.1.30
python-xlib==0.14
pytz==2018.4
pyxdg==0.25
PyYAML==3.12
pyzmq==17.0.0
qtconsole==4.3.1
reportlab==3.4.0
requests==2.18.1
roman==2.0.0
SecretStorage==2.3.1
Send2Trash==1.5.0
sh==1.12.14
simplegeneric==0.8.1
simplejson==3.11.1
six==1.10.0
system-service==0.3
systemd-python==234
terminado==0.8.1
testpath==0.3.1
testresources==2.0.1
thefuck==3.27
tornado==5.0.2
traitlets==4.3.2
ubuntu-drivers-common==0.0.0
ufw==0.35
unattended-upgrades==0.1
urllib3==1.21.1
usb-creator==0.3.3
virtualenv==15.1.0
wadllib==1.3.2
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.12.2.dev0
widgetsnbextension==3.2.0
xdiagnose==3.8.8
xkit==0.0.0
youtube-dl==2017.9.24
zope.interface==4.3.2
